
* {
  box-sizing: border-box;
}

html, body, body > div, .grid {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 100px;
}

.intro, .viz {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.viz {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto;
}

.viz > .header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.viz > .body {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.chart {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.narrative {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.navigation {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.navigation-group {
  display: flex;
  justify-content: space-around;
}
